<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <style>
    .tooltip {
      position: relative;
      display: inline-block;
      border-bottom: 1px dotted black;
    }
    
    .tooltip .tooltiptext {
      visibility: hidden;
      width: 500px;
      background-color: black;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
    
      /* Position the tooltip */
      position: absolute;
      z-index: 1;
    }
    
    .tooltip:hover .tooltiptext {
      visibility: visible;
    }
    </style>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66634800-1', 'auto');
  ga('send', 'pageview');
  </script>
</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Sarthak Ahuja
              </h1>
              <p>I am a Machine Learning Engineer at <a href="https://www.amazon.science/tag/alexa">Alexa AI</a> where I help build systems that predict and route user intents to appropriate Alexa actions. My work is centered around enabling scalable, safe and continuous end-to-end <a href="https://www.amazon.science/blog/alexa-enters-the-age-of-self">self-learning</a> for intelligent decision making. Check out this <a href="https://arxiv.org/pdf/2204.07135">recent paper</a> from my team to learn more. 
              </p>
              <p>
                Prior to Amazon, I was a Research Engineer in the <a href="https://researcher.watson.ibm.com/researcher/view_group.php?id=7806">Collaborative AI</a> group at <a href="https://research.ibm.com/">IBM Research</a>. There I worked on nested belief modeling for enhancing multi-agent group collaboration in social decision making settings. I also contributed to the machine learning based requisition & candidate matching subsystem of <a href="https://www.ibm.com/us-en/marketplace/watson-recruitment">IBM Watson Recruitment</a>. 
              </p>
              <p  id='tmm' style='display: block' onclick="toggleIntroText()"><u>tell me more</u></p>
              <div id='intro' style='display: none'>
                <p>
                  I have a Master's degree in Robotics from <a href="https://www.ri.cmu.edu/">Carnegie Mellon University</a> where I worked on robot self-assessment for my thesis as a member of <a href="http://harp.ri.cmu.edu/">HARP</a> and <a href="https://tbd.ri.cmu.edu/">TBD</a> lab. I explored visual intuitive physics modeling for non-disruptive object extraction in human spaces and my research was funded by the <a href="https://successmuri.org/">SUCCESS MURI</a> ONR grant. Outside thesis work, I also studied the effects of anticipatory robot motion on humans in order to understand if robots can unintentionally (or intentionally) manipulate human decision-making by trying to pro-actively predict human intent.
                </p>
                <p>
                  While pursuing my Bachelor's degree in Computer Science from <a href="https://www.iiitd.ac.in/">IIIT-Delhi</a> my interests were all over the place - right from designing perception systems for autonomous vehicles at <a href="https://sites.google.com/iiitd.ac.in/iiitd-alive">Swarath</a> to developing methods for visual summarization of large social media datasets at <a href="http://precog.iiitd.edu.in/">PreCog</a>. In my senior year, I was a also a founding member of a digital governance start-up at <a href="http://meriawaazapp.com/press.html">Meri Awaaz</a> working towards enabling open, accessible and accountable governance.
                </p>
                <p  id='tmm' style='display: block' onclick="toggleIntroText()"><u>this is too much info</u></p>
              </div>
              <p style="text-align:center">
                <a target="_blank" href="https://mailhide.io/e/DfDn0"> Email</a> &nbsp;/&nbsp;
                <a target="_blank" href="pdfs/resume_sarthak.pdf"> Resume</a> &nbsp;/&nbsp;
                <a target="_blank" href="https://scholar.google.com/citations?hl=en&authuser=2&user=d9uoENcAAAAJ"> Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://github.com/thecoldviews">GitHub</a> &nbsp;&nbsp;
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <center>
              <img style="width:80%;max-width:80%" alt="profile photo" src="images/display.png"><br>
              <i><a href="https://brucelee.com/podcast-blog/2016/7/20/2-be-water-my-friend">"be water my friend"</a></i></center>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research Interests</h2>
              <p>
                I am interested in making Human-AI interactions more complete and aligned with human expectations within any given context. Whether it's an uncanny robot, a faceless voice assistant, or a conversational chatbot, I aim to make these systems address a user's <b>explicit</b> needs displaying an intuitive understanding of all sorts of <b>implicit</b> constraints imposed by their contextual setting; pursuing this goal keeps me interested in interdisciplinary research in language understanding, visual recognition, multi-agent systems and robotics. I have had wonderful collaborations with some amazing people over the years, some of which are listed below. 
<!--                 <br>
                <p  id='tnn' style='display: block' onclick="toggleInterestText()"><u>really?</u></p>
                <div id='interest' style='display: none'>
                Personally, I see machine learning only as one of many effective <u>tools</u> in this endevour. My more 
                <select name="adj1" id="adj1">
                  <option value="philosphical">philosophical</option>
                  <option value="illusive">illusive</option>
                  <option value="paradoxical">paradoxical</option>
                  <option value="contradictory">contradictory</option>
                </select> yet 
                <select name="adj2" id="adj2">
                  <option value="important">important</option>
                  <option value="inevitable">inevitable</option>
                  <option value="cathartic">cathartic</option>
                  <option value="unavoidable">unavoidable</option>
                </select>, 
                interest is to read about out what <i>well-being</i>, in the context of interactions with modern technology, even means. Does completely abstracted out automation alway imply well-being? How do people define their idea of well-being? Is everyone capable of having a definition? How is it communicated? Are they always projecting intents that accurately convey their idea of well-being? How certain are they about the way to achieve that objective? Does the act of predicting human intent actually alter it? Can machines create a mental model of human beliefs and use it to manipulate this true objective? Can this model be used to foster collaboration among multiple agents each having a conflicting true objective but the inability to express it?
                <span class="tooltip">&#8595;
                  <span class="tooltiptext">marks the beginning of a rabbit hole; but the topics before that are fairly active areas of AI research.</span>
                </span> 
                Can collective well-being be ever captured by a single static reward function? ... <i>a few excrutiating and regretful hours later</i> ... does life even have a meaning?
              </p>
              <p  id='tnn' style='display: block' onclick="toggleInterestText()"><u>this is too much info</u></p>
            </div> -->
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;box-shadow: 5px 5px 5px #888888;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em> {{ post.date | date: "%Y" }}
              <br>
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.dataset %}
              <a href="{{post.dataset}}">dataset</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Other Projects</h2>
              <p> These include filed patents and unpublished research work. 
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat != 'research' and cat != 'course' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;box-shadow: 5px 5px 5px #888888;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em> {{ post.date | date: "%Y" }}
              <br>
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.dataset}}">dataset</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Course Projects</h2>
              <p>Author names are in alphabetical order.</p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'course' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;box-shadow: 5px 5px 5px #888888;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em> {{ post.date | date: "%Y" }}
              <br>
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.dataset %}
              <a href="{{post.dataset}}">dataset</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
<script>
  function toggleIntroText() {
    var intro_text = document.getElementById("intro");
    var tmm = document.getElementById("tmm")
    if (intro_text.style.display === "none") {
      intro_text.style.display = "block";
      tmm.style.display = "none"
    } else {
      intro_text.style.display = "none";
      tmm.style.display = "block"
    }
  }

  function toggleInterestText() {
    var interest_text = document.getElementById("interest");
    var tnn = document.getElementById("tnn")
    if (interest_text.style.display === "none") {
      interest_text.style.display = "block";
      tnn.style.display = "none"
    } else {
      interest_text.style.display = "none";
      tnn.style.display = "block"
    }
  }

  var rand_adj1=Math.floor(Math.random()*4);
  var rand_adj2=Math.floor(Math.random()*4);
  document.getElementById("adj1").selectedIndex = rand_adj1;
  document.getElementById("adj2").selectedIndex = rand_adj2;
</script>
</html>

